/** Import Reset CSS **/

@import url("reset.css");

/** Import Google fonts **/

@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://fonts.googleapis.com/css?family=Orienta");

/** Global Styles **/

html
{
	height: 100%;
	overflow: auto;
	
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body
{
	font-family: "Open Sans", Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	padding: 0 0 20px 0;
	background: #FFF url("../images/bg.png") repeat;
}

::selection { background: #000; color: #FFF; }
::-moz-selection { background: #000; color: #FFF; }

a { color: #243A74; text-decoration: none; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
a:hover { color: #222; }

/** Galleria **/
#galleria{ width: 100%; height: 500px; background: #000 }

/** Layout Styles **/
.container
{
	width: 100%;
	min-width: 280px;
	line-height: 22px;
}

	.darkbg
	{
		background: #666;
	}
	
	.lightbluebg
	{
		background: #243A74;
		/*light blue #0CF - dark blue #091457*/
		/* other blue 00B2E0*/
	}
	
	.whitebg
	{
		background:#fff;
	}

	/** Header **/

	.container #headercont
	{
		width: 90%;
		max-width: 980px;
		padding: 20px 0;
		margin: 0 auto;
		/*text-shadow: 1px 1px 1px #000;*/
	}
	
		.container #headercont #headerlogo
		{
			float: left;
			width: 60%;
			text-align: left;
		}
		
			.container #headercont #headerlogo #headerlogo-img
			{
				width:605px;
			}
			.container #headercont #headerlogo #headerlogo-img #logo1
					{
						width:16.98115%;
					}
			.container #headercont #headerlogo #headerlogo-img #logo2
					{
						width:66.0377%;
					}
			.container #headercont #headerlogo #headerlogo-img #logo3
					{
						width:16.98115%;
					}				
		.container #headercont #headerright
		{
			float: left;
			width: 40%;
			padding: 0px;
			text-align: right;
		}
		
			.container #headercont #headerright p
			{
				font-weight: 400;
				font-size: 14px;
				color: #FFF;
				margin: 0px;
				letter-spacing: -0.8px;
				font-family: "Orienta", Arial, Helvetica, sans-serif;
			}
			
				.container #headercont #headerright p span
				{
					color: #000;
				}
				
				.container #headercont #headerright p.quote
				{
					font-size: 32px;
				}
				
				.container #headercont #headerright p, .container #headercont #headerright p a
				{
					font-weight: 400;
					font-size: 14px;
					color: #222;
					margin: 0px;
					letter-spacing: -0.8px;
					font-family: "Orienta", Arial, Helvetica, sans-serif;
				}
					.container #headercont #headerright p a:hover
					{
						font-weight: 500;
						color: #243A74;
					}
				.container #headercont #headerright #fixedwidth-headerright
					{
						float:right;
						width:255px;
						text-align:left;
					}
	/** Menu **/
	/* Advanced Checkbox Hack */
	body { -webkit-animation: bugfix infinite 1s; }
	@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

	.container #menucont input[type=checkbox] {
	  position: absolute;
	  top: -9999px;
	  left: -9999px;
	  color: #FFF;
	}

	.container #menucont label { 
	    display:none;
	    cursor: pointer;
	    user-select:none;
	    background-color: #F00;
		float: left;
		line-height: 40px;
		padding: 0 13px;
		font-weight: 400;
		font-size: 14px;
		text-decoration: none;
		color: #888;
		text-transform: uppercase;
		letter-spacing: -0.3px;
		font-family: "Orienta", Arial, Helvetica, sans-serif;
	}
				
	.container #menucont
	{
		width: 90%;
		max-width: 980px;
		padding: 3px 0;
		margin: 0 auto;
	}
				
		.container #menucont ul
		{
			float: left;
		}
	
			.container #menucont ul li
			{
				display: inline;
			}
			
				.container #menucont ul li a
				{
					float: left;
					line-height: 40px;
					padding: 0 13px;
					font-weight: 400;
					font-size: 14px;
					text-decoration: none;
					color: #888;
					text-transform: uppercase;
					letter-spacing: -0.3px;
					font-family: "Orienta", Arial, Helvetica, sans-serif;
				}

				
					.container #menucont ul li a:hover, .container #menucont ul li.active a
					{
						color: #FFF;
					}
					
	/** Main **/
						
	.container #maincont
	{
		width: 80%;
		max-width: 980px;
		margin: 0 auto;
		padding: 10px 0;
		background: url("../images/bg-maincont.png") repeat-y 74% 0;
	}
	
		.container #maincont p { margin: 0 0 20px 0; }
		.container #maincont h1, .container #maincont h2, .container #maincont h3, .container #maincont h4, .container #maincont h5 { margin: 0 0 20px 0; color: #444; font-weight: normal; letter-spacing: -1px; font-family: "Orienta", Arial, Helvetica, sans-serif; }
		.container #maincont h1 { font-size: 26px; line-height: 26px; }
		.container #maincont h2 { font-size: 24px; line-height: 24px; }
		.container #maincont h3 { font-size: 24px; line-height: 24px; }
		.container #maincont h4 { font-size: 22px; line-height: 22px; }
		.container #maincont h5 { font-size: 20px; line-height: 20px; }
		.container #maincont ul { margin: 0 0 15px 35px; list-style-type: square; }
		.container #maincont ul li { padding: 0 0 0 2px; }
		.container #maincont ol { margin: 0 0 15px 35px; list-style-type: decimal; }
		.container #maincont ol li { padding: 0 0 0 2px; }
		.container #maincont hr { clear: both; border: 0; height: 0; margin: 0 0 20px 0; border-top: 1px dashed #CCC; }
		.container #maincont blockquote {text-align:left; color:#FFF; background: #666; border-left: 3px solid #243A74; padding: 15px; margin: 0 0 15px 0; }
		.container #maincont img {width:100%; max-width:500px;}
			.container #maincont #mainleft
			{
				float: left;
				width: 72%;
				padding: 20px 3% 0 0;
				
				min-height: 400px;
				height: auto !important;
				height: 400px;

				text-align:center;
			}

			.container #maincont #mainleft #title-img-right
			{
				display:block;
				float:right; 
				width:40%;
				margin:3px;
			}
			.container #maincont #mainleft #title-img-bottom
			{
				display:none;
			}		

			.container #maincont #mainleft #page-content
			{
			}
				.container #maincont #mainleft #page-content h1
				{
					text-align:center;
				}
				.container #maincont #mainleft #page-content .threecol
				{
					float:left;
					width:33%;
					text-align:center;
					line-height:30px;
					padding-top:10px;
				}
			.container #maincont #mainleft .gallery-link
			{
				margin: 1%;
				background: #666;
				text-align:center;
				color:#FFF;
				width:30%;
				float:left;
			}	
				.container #maincont #mainleft .gallery-link a
				{ 
					color: #FFF;
					text-transform:uppercase;
				}					
			.container #maincont #hours-table
			{
				padding:5px;
				margin-left:auto;
				margin-right:auto;
			}
			.container #maincont #hours-table td
			{
				padding:5px;
				text-align:left;
			}
			.container #maincont #mainright
			{
				float: left;
				width: 23%;
				padding: 20px 0 0 2%;
			}
			
				.container #maincont #mainleft ul.otherlinks
				{
					margin: 0 0 15px 0;
					padding: 0;
					border-top: 1px dashed #CCC;
				}
				
					.container #maincont #mainleft ul.otherlinks li
					{
						list-style-type: none;
					}
					
						.container #maincont #mainleft ul.otherlinks li a
						{
							float: left;
							width: 100%;
							padding: 5px 0;
							border-bottom: 1px dashed #CCC;
						}

				.container #maincont #mainright .sidesection
				{
					margin: 0 0 15px 0;
					padding: 0;
				}
				
					.container #maincont #mainright .sidesection h3
					{
						margin: 0 0 10px 0;
						font-size: 24px;
					}
				
					.container #maincont #mainright .sidesection .sidetop
					{
						margin: 0 0 5px 0;
					}
					
						.container #maincont #mainright .sidesection .sidetop a img
						{
							width: 100%;
						}
		
					.container #maincont #mainright .sidesection .sidebottom p
					{
						margin: 0 0 5px 0;
						line-height: 14px;
						font-size: 12px;
					}

				.container #maincont #mainright h3
				{
					text-align:center;
				}

				.container #maincont #mainright a.hoverlink
				{
					float: left;
					position: relative;
					width: 100%;
					margin: 0 0 10px 0;
				}
				
					.container #maincont #mainright a.hoverlink img
					{
						display: block;
						width: 100%;
					}
					
						.container #maincont #mainright .overlay
						{
							-moz-transition: opacity 150ms ease-in-out 0s;
							height: 100%;
							left: 0;
							opacity: 0;
							position: absolute;
							top: 0;
							width: 100%;
							z-index: 40;
						}
						
							.container #maincont #mainright .overlay.link
							{
								background: url("../images/overlay_link.png") no-repeat scroll center center, url("../images/overlay_bg.png") repeat scroll center center transparent;
								display: inline-block;
							}
							
								.container #maincont #mainright .overlay:hover
								{
									opacity: 1;
								}
				.container #maincont #mainright .gallery-link
				{
					margin: 0 auto 15px auto;
					background: #666;
					text-align:center;
					color:#FFF;
					width:150px;
				}	
					.container #maincont #mainright .gallery-link a
					{ 
						color: #FFF;
						text-transform:uppercase;
						padding: 0 0 5px 0;
					}

	/** Footer **/
			
	.container #footercont
	{
		width: 80%;
		max-width: 980px;
		margin: 0 auto;
		font-size: 11px;
		text-align: right;
		padding: 15px 0 0 0;
		border-top: 1px dashed #CCC;
		/*text-shadow: 1px 1px 1px #FFF;*/
		color: #888;
	}

	.left-align
	{
		text-align: left;
	}
	.center-align
	{
		text-align: center;
	}
	#map-canvas
	{
		width: 100%;
		height:400px;
		margin: 5px auto 5px auto;
	}
	#map-canvas img { max-width: none; }
	#GoogleMapSelector img { max-width: none; }

/** Responsive Magic **/

@media screen and (max-width: 964px)
{
	.container #headercont #headerlogo #headerlogo-img #logo1
			{
				display:none;
			}
	.container #headercont #headerlogo #headerlogo-img #logo3
			{
				display:none;
			}
}

@media screen and (max-width: 735px)
{
	.container
	{
		
	}
		.container #headercont #headerlogo #headerlogo-img #logo1
				{
					display:inline-block;
					width:16.98115%;
				}
		.container #headercont #headerlogo #headerlogo-img #logo2
				{
					width:66.0377%;
				}
		.container #headercont #headerlogo #headerlogo-img #logo3
				{
					display:inline-block;
					width:16.98115%;
				}
		.container #headercont #headerlogo, .container #headercont #headerright, .container #headercont #headerlogo
		{
			float: none;
			width: 100%;
			text-align: center;
		}
		.container #headercont #headerlogo #headerlogo-img
			{
				width:100%;
				max-width:530px;
				margin-right:auto;
				margin-left:auto;
			}	
			.container #headercont #headerlogo h1 a img
			{
				width: 220px;
			}
			.container #headercont #headerlogo h1 img
				{
					width:100%;

				}
		.container #headercont #headerright #fixedwidth-headerright
				{
					float:none;
					width:100%;
					text-align:center;
				}

		/** Drop Down Menu **/
		.container #menucont
		{
			width:100%;
			padding: 0 0 0 0;
		}
			
		   .container  #menucont label {
		        position:relative;
		        display:block;
		        width:100%;
		        padding:.45em 0;
		        margin:0;
		        color:#FFF;
		        background-color:#243A74;
		    }
		   .container  #menucont label span{
				padding-left:10px;
		    }
		    .container  #menucont label:after {
			    position: absolute;
			    right: 20px;  
			    top: 7px; 
			    content:"\2261";
			    font-size:18px;
			    background-color:#243A74;
		    }
		    
		    .container #menucont  input[type=checkbox]:checked ~ label:after {
		      content:"x";
		      text-transform:none;
		      color:#666;
		      background-color:#000;
		    }
		    .container #menucont  input[type=checkbox]:checked ~ label {
		      color:#666;
		      background-color:#000;
		    }
			.container #menucont ul
			{
				display:none;
				height:100%;
			}

			.container #menucont input[type=checkbox]:checked ~ ul{ display:block;}
		
				.container #menucont ul li
				{
					width:100%;

				}
				
					.container #menucont ul li a
					{
						width:100%;
						padding:0;

					}
					
					.container #menucont ul li a span
					{
						padding-left:10px;
					}

						.container #menucont ul li a:hover, .container #menucont ul li.active a
						{
							color: #FFF;
						}

		.container #maincont
		{
			background: none;
		}
		
		.container #maincont #mainleft, .container #maincont #mainright
		{
			float: none;
			width: 100%;
			text-align: center;
			padding: 20px 0 0 0;
			
			min-height: 100px;
			height: auto !important;
			height: 100px;
		}
		.container #maincont #mainleft #title-img-right
		{
			display:none;
		}
		.container #maincont #mainleft #title-img-bottom
		{
			display:block;
			float:none;
			width:100%;
			max-width:300px;
			margin:3px auto;
			padding:auto;
		}	
		.container #maincont #mainleft #page-content .threecol
		{
			width:100%;
		}

		.container #maincont #mainleft .gallery-link
			{
				width:100%;
				background:none;
			}	
			.container #maincont #mainleft	.gallery-link img
			{
				display:block;
				float:top;
				max-width:200px;
				margin-left:auto;
				margin-right:auto;
			}
			.container #maincont #mainleft	.gallery-link a
			{
				display:block;
				float:top;
				max-width:200px;
				background: #666;
				margin-left:auto;
				margin-right:auto;
			}
		.container #maincont #mainright .sidecont
		{
			padding: 20px 0 10px 0;
		}
		
			.container #maincont #mainright .sidesection h3
			{
				margin: 0 0 10px 0;
				font-size: 20px;
			}
		
			.container #maincont #mainright .sidesection
			{
				float: left;
				width: 48%;
				padding: 0 1%;
				margin: 0 0 15px 0;
			}
			
	.container #footercont
	{
		text-align: center;
	}
		
		
}

@media screen and (max-width: 480px)
{		
	.container
	{
		
	}
	
		.container #headercont #headerlogo h1 a
		{
			font-size: 32px;
		}
	
		.container #headercont #headerright p, .container #headercont #headerright p a
		{
			font-size: 14px;
		}
	
		.container #maincont #mainright .sidecont
		{
			
		}
		
			.container #maincont #mainright .sidesection h3
			{
				margin: 0 0 10px 0;
				font-size: 24px;
			}

			.container #maincont #mainright .sidesection
			{
				clear: both;
				float: left;
				width: 100%;
				padding: 0%;
				margin: 0 0 15px 0;
			}
}

