{% extends "base.html" %}

{%- block content %}

  {%- if page.img %}
  	<img id="title-img-right" src="{{ page.img }}" alt="{{ page.img_alt }}">
	<div id="page-content">
		{{ page.content }}
	</div>
  	<img id="title-img-bottom" src="{{ page.img }} " alt="{{ page.img_alt }}" >
  {%- else -%}
	<div id="page-content">
	  {{ page.content }}
	</div>
  {%- endif -%}

{%- endblock %}

{%- block sidebar -%}
<h3>Gallery</h3>
<div class = "gallery-link">
    <a title="" href="/gallery/countertops"><img src = "/gallery/countertops/counter-thumb.jpg" title="Countertops" alt="Link to counter top gallery"></a>
    <label><a title="Countertops" href="/gallery/countertops"> Countertops </a></label>
</div>


{%- endblock -%}


{%- block scripts %}
{%- endblock %}